<nav class="navbar navbar-expand-lg navbar-dark bg-dark topbar">
    <a class="navbar-brand" href="#"><strong>GameSocket</strong></a>
  
    <div>
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/home" routerLinkActive="active">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/about" routerLinkActive="active">About</a>
        </li>
      </ul>
    </div>

    <div class="navbar-nav ml-auto">
        <i class="far fa-envelope font-light font-large btn-link" (click)="toggleChat()"></i>
    </div>
  </nav>